.body {
  background-image: url("https://uploads-ssl.webflow.com/5ddad1b6578bab491725006f/5ddae03dd31f0ffcec6771a2_yes.jpg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
    position: fixed;
    bottom: 10;
    width: 50%;
}
