.body {
  background-image: url("https://uploads-ssl.webflow.com/5ddad1b6578bab491725006f/5ddad3e4967a3b0e6533dee6_IMG_20180903_195048.jpg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
