@charset "UTF-8";
/* CSS Document */

<style type="text/css">

body {
	background-color: #FFFFFF;
}

.buttons {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-color: white;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #29ABE2;
	vertical-align: middle;
	text-align:center;
}


.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: black;
	height: 26px;
}
.style2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: black;
}
.style3 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: bold;
	color: #FFFFFF;
	background-color: #29ABE2;
}
.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: black;
	vertical-align: middle;
	text-align:center;
}
a:link {
	text-decoration: none;
	color: #FFFFFF;
}
a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}




</style>
